* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100vh;
    letter-spacing: 0.03cm;
    line-height: 1.6;
  }

  
  /*GRIDS POR AREAS*/
  .gridcontainer {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 0.2fr 2fr 1.5fr 0.2fr;
    grid-template-areas:
      "header header"
      "hero hero"
      "productos aside"
      "footer footer";
  }
  /*NOMBRE DE AREAS*/
  header {
    grid-area: header;
  }
  #hero {
    grid-area: hero;
  }
  .productos {
    grid-area: productos;
  }
  aside {
    grid-area: aside;
  }
  footer {
    grid-area: footer;
  }
  
  /*flex*/
  
  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1px;
    background-color: #112b3c;
    grid-area: header;
  }
  
  /*BARRA NAVEGACION*/
  .header nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
  }
  .header nav ul li {
    background-color: #f66b0e;
    margin: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
  }
  .header nav ul li a {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
  }
  li:hover {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: solid #f66b0e;
  }
  /*sectionHero*/
  #hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1px;
    height: calc(100vh - 50px);
    background: url(/images/Attackportada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero;
  }
  #hero h1 {
    font-size: 60px;
    font-weight: bold;
    color: #f66b0e;
  }
  
  #hero a {
    display: flex;
    background-color: #f66b0e;
    list-style: none;
    color: #efefef;
    text-decoration: none;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 30px;
    padding: 15px;
  }
  
  /**CARDSDEIMAGENES*/

  h2{
    text-align: center;
    font-size: 50px;
    letter-spacing: normal;
    line-height: normal;
  }
  .cards .contenido h3{
    text-align: center;
    font-size: 20px;
    color: #f66b0e;
   

  }

  .cards p{
    color: #f66b0e;
    text-align: center;
    padding: 15px;
    margin: 0px;

  }
  .cards a{
    text-decoration: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    list-style: none;
    color: #f66b0e;
    margin-top: 20px;
    border: 1px solid #112b3c;
    border-radius: 6px;
    transition: all 400ms ease;
    font-size: 1rem;
  }
  .cards .contenido{
    padding: auto;
    margin: auto;
    text-align: center;
  }
  .productos {
    width: 100%;
    text-align: center;
    display: flex;
    height: 2fr;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #efefef;

    grid-area: productos;
   
  }
  .cards {
    display: flex;
    width: 1fr;
    padding: 20px;
   
    border-radius:6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3)
    justify-content: center;
    margin: 5px;
    overflow: hidden;
    transition: all 0.25s ease;
    grid-area: productos;
    text-align: center;
    cursor: default;
  }

  .cards:hover{
    transform: translateY(-15px);
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  }

  .cards img{
    width: 350px;
    height: 350px;
}

  aside {
    display: flex;
    margin: 1px;
    background-color: #efefef;
    grid-area: aside;
    border: #112b3c;
  }
  .footer:hover div img{
    transition: 2s;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #112b3c;
    grid-area: footer;
    margin: 1px;
 
  }
  .footer div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;

  }
  
  .footer div img {
    width: 25px;
    height: 25px;
    margin: 5px;

  }
  .footer > p {
    display: flex;
    color: #f66b0e;
    font-size: 12px;
    margin: 10px;
  }
  
  /*-----MQ-----*/
  @media screen and (min-width 1200px:){
    .header {
      flex-direction: column;
    }
  }