* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  letter-spacing: 0.03cm;
  line-height: 1.6;
}


/*GRIDS POR AREAS*/
.gridcontainer {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 0.1fr 1fr 1fr 0.1fr;
  grid-template-areas:
    "header header"
    "hero hero"
    "productos productos"
    "footer footer"
}
/*NOMBRE DE AREAS*/
.header {
  grid-area: header;
}
#hero {
  grid-area: hero;
}
.productos {
  grid-area: productos;
}
.footer {
  grid-area: footer;
}

/*flex*/

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1px;
  background-color: #112b3c;
  grid-area: header;
}

/*BARRA NAVEGACION HEADER*/
.header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.header nav ul li {
  background-color: #f66b0e;
  margin: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
}
.header nav ul li a {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
li:hover {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: solid #f66b0e;
}
/******SECTION HERO******/
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  background: url(/images/Attackportada.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: hero;
}
#hero h1 {
  font-size: 60px;
  font-weight: bold;
  color: #f66b0e;
}

#hero a {
  display: flex;
  background-color: #f66b0e;
  list-style: none;
  color: #efefef;
  text-decoration: none;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 30px;
  padding: 15px;
}

/**CARDSDEIMAGENES MAIN*****/

.productos {
  display: flex;
  width: 100%;
  padding: 30px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f66b0e;
  grid-area: productos;
}

.cards .contenido{
  padding: 10px;
  margin: auto;
  text-align: center;
}

.cards .contenido h3{
  text-align: center;
  font-size: 20px;
  color: #f66b0e;
}

.cards {
  display: flex;
  background-color: #112b3c;
  width: 450px;
  border-radius:8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3)
  justify-content: space-around;
  overflow: hidden;
  transition: all 0.25s ease;
  text-align: center;
  cursor: default;
}

.cards p{
  color: #f66b0e;
  text-align: center;
  padding: 20px;
  margin: 0px;

}
.cards a{
  text-decoration: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  list-style: none;
  color: #f66b0e;
  margin-top: 10px;
  border: 1px solid #f66b0e;
  border-radius: 6px;
  transition: all 400ms ease;
  font-size: 1rem;
}

.cards:hover{
  transform: translateY(-15px);
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
}

.cards img{
  width: 350px;
  height: 350px;
}


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #112b3c;
  grid-area: footer;

}
.footer div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;

}

.footer div img {
  width: 25px;
  height: 25px;
  margin: 5px;

}
.footer > p {
  display: flex;
  color: #f66b0e;
  font-size: 12px;
  margin: 10px;
}

/***********CUADROS************/


.contenedor2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  grid-area: productos;
  flex-direction: row;
  padding: 100px;
  background-color: white;
}

.cards2 {
  width: 450px;
  height: 700px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #112b3c;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.cards2:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.cards2 img {
  width: 300px;
  height: 300px;
  position: relative;
}

.contenido2 {
  padding: 10px;
  margin: auto;
  text-align: center;
}
.contenido2 img {
  width: 350px;
  height: 350px;
  padding: 10px;
}
.contenido2 h3 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #f66b0e;
}
.contenido2 p {
  color: #f66b0e;
  text-align: center;
  padding: 20px;
  margin: 0px;
}
.contenido2 a {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  list-style: none;
  color: #f66b0e;
  margin-top: 10px;
  border: 1px solid #f66b0e;
  border-radius: 6px;
  transition: all 400ms ease;
  font-size: 1rem;
}

/***********POSTERS************/

.contenedor3 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  grid-area: productos;
  flex-direction: row;
  padding: 100px;
  background-color: white;
}

.cards3 {
  width: 450px;
  height: 700px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #112b3c;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.cards3:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.cards3 img {
  width: 300px;
  height: 300px;
  position: relative;
}

.contenido3 {
  padding: 10px;
  margin: auto;
  text-align: center;
}
.contenido3 img {
  width: 350px;
  height: 350px;
  padding: 10px;
}
.contenido3 h3 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #f66b0e;
}
.contenido3 p {
  color: #f66b0e;
  text-align: center;
  padding: 20px;
  margin: 0px;
}
.contenido3 a {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  list-style: none;
  color: #f66b0e;
  margin-top: 10px;
  border: 1px solid #f66b0e;
  border-radius: 6px;
  transition: all 400ms ease;
  font-size: 1rem;
}

.navbar {
  background-color: #112b3c;
  padding: 20px;
  display: flex;

}

.navbar a {
  color: #f66b0e;
  font-size: 20px;
  margin: 10px
}

.navbar-nav ul li {
  justify-content: flex-end;
  display: flex;
  padding: 30px;
  margin: 10px;

}

/*******CONTACTO******/

.form {
  width: 650px;
  height: 550px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(25vw - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw -40px);
  box-sizing: border-box;
  position: relative;
}

h2 {
  margin: 10px;
  padding-bottom: 10px;
  width: 180px;
  color: #f66b0e;
  border-bottom: 3px solid #f66b0e;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  transition: all .3s;
  border-bottom: 2px solid grey;
}

input:focus {
  border-bottom: 2px solid #f66b0e
}

button {
  display: flex;
  justify-content: center;
  text-align: center;
  float: right padding: 8px 12px;
  margin: 15px 0 0;
  background: 0;
  transition: all .3s;
  color: #f66b0e;
  padding: 10px;
}

.form button:hover {
  background: #112b3c;
  cursor: pointer;
}


/*-----MQ-----*/
@media screen and (min-width 1200px:){
  .header {
    flex-direction: column;
  }
}