/*****FOOTER*****/

@import "../base/variables";

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secundario;
    grid-area: footer;

    p {
        @include font ($color-principal, $font-size: 13px, $font-family: helvetica);
        margin: 10px;
        cursor: default;
    }

    div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 5px;
    }

    img {
        width: 40px;
        height: 40px;
        margin: 5px;
        cursor: pointer;
    }
}