@import "../base/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-secundario;
    grid-area: header;

    img {
        margin: 10px;
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

    nav {

        ul {
            display: flex;
            list-style: none;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;

            li {
                background-color: $color-principal;
                margin: 20px;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                padding: 10px;

                &:hover {
                    transform: scale(1.1);
                }

                a { 
                    @include font ($color-blanco, $font-size: 13px, $font-family: helvetica);
                    display: flex;
                    text-decoration: none;
                    text-transform: uppercase;
                }
            }
        }
    }
}