@import "../base/variables";

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #112b3c;
    grid-area: header;
}

.header nav {
    ul {
        display: flex;
        list-style: none;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;

        li {
            background-color: #f66b0e;
            margin: 20px;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            padding: 10px;

            &:hover {
                margin-bottom: 10px;
                padding: 6px;
                border-bottom: $color-principal solid;
            }

            a {
                display: flex;
                text-decoration: none;
                text-transform: uppercase;
                color: $color-blanco;
                font-size: 12px;

            }
        }
    }
}