@import "../base/variables";

/*****SECTION HERO*****/

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    background: url(/images/Attackportada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero;

    h1 {
        font-size: 60px;
        font-weight: bold;
        color: $color-principal;
        text-align: center;
    }

    a {
        display: flex;
        background-color: $color-principal;
        list-style: none;
        color: #efefef;
        text-decoration: none;
        border-radius: 50px;
        text-transform: uppercase;
        font-size: 30px;
        padding: 15px;
    }
}

/*****CARDS DE IMAGENES MAIN*****/

.productos {
    display: flex;
    width: 100%;
    padding: 30px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $color-principal;
    grid-area: productos;
}

.cards {
    display: flex;
    background-color: $color-secundario;
    width: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
    overflow: hidden;
    transition: all 0.25s ease;
    text-align: center;
    cursor: default;

    &:hover {
        transform: translateY(-15px);
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }
}

.contenido {
    padding: 10px;
    margin: auto;
    text-align: center;

    img {
        width: 350px;
        height: 350px;
        padding: 10px;
    }

    h3 {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: $color-principal;
    }

    p {
        color: $color-principal;
        text-align: center;
        padding: 20px;
        margin: 0px;
    }

    a {
        text-decoration: none;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        list-style: none;
        color: $color-principal;
        margin-top: 10px;
        border: 1px solid $color-principal;
        border-radius: 6px;
        transition: all 400ms ease;
        font-size: 1rem;
    }
}

/*****CUADROS MAIN*****/

.contenedor2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid-area: productos;
    flex-direction: row;
    padding: 100px;
    background-color: white;
}

.cards2 {
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #112b3c;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }
}

.contenido2 {
    padding: 10px;
    margin: auto;
    text-align: center;

    img {
        width: 350px;
        height: 350px;
        padding: 10px;
    }

    h3 {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #f66b0e;
    }

    p {
        color: #f66b0e;
        text-align: center;
        padding: 20px;
        margin: 0px;
    }

    a {
        text-decoration: none;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        list-style: none;
        color: #f66b0e;
        margin-top: 10px;
        border: 1px solid #f66b0e;
        border-radius: 6px;
        transition: all 400ms ease;
        font-size: 1rem;
    }
}

/*****POSTERS MAIN*****/

.contenedor3 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    grid-area: productos;
    flex-direction: row;
    padding: 100px;
    background-color: white;
}

.cards3 {
    width: 450px;
    height: 700px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #112b3c;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

    &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%);
    }
}

.contenido3 {
    padding: 10px;
    margin: auto;
    text-align: center;

    img {
        width: 300px;
        height: 300px;
        position: relative;
    }

    h3 {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #f66b0e;
    }

    p {
        color: #f66b0e;
        text-align: center;
        padding: 20px;
        margin: 0px;
    }

    a {
        text-decoration: none;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        list-style: none;
        color: #f66b0e;
        margin-top: 10px;
        border: 1px solid #f66b0e;
        border-radius: 6px;
        transition: all 400ms ease;
        font-size: 1rem;
    }
}

/***** CONTACTO FORMUALRIO MAIN *****/

