@import "../base/variables";

/*****SECTION HERO*****/

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    background: url(/images/Attackportada.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hero;

    h1 {

        @include font ($color-principal, $font-size-l, $font-family: helvetica);
    }

    a {
        @include font ($color-blanco, $font-size-m, $font-family: helvetica);
        display: flex;
        background-color: $color-principal;
        list-style: none;
        text-decoration: none;
        border-radius: 50px;
        text-transform: uppercase;
        padding: 15px;

        &:hover {
            transform: scale(1.1);
        }
    }
}

/*****CARDS DE IMAGENES MAIN GRAL*****/

.productos {
    display: flex;
    width: 100%;
    padding: 30px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $color-principal;
    grid-area: productos;

    h4 {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 40px;

    }

    .cards {
        display: flex;
        background-color: $color-secundario;
        width: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        transition: all 0.25s ease;
        text-align: center;
        cursor: default;

        &:hover {
            transform: translateY(-15px);
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
        }

        .contenido {
            padding: 10px;
            margin: auto;
            text-align: center;

            img {
                width: 350px;
                height: 380px;
                padding: 10px;
            }

            h3 {
                @include font ($color-principal, $font-size: 22px, $font-family: helvetica);
                text-align: center;
            }

            p {
                @include font ($color-principal, $font-size: 18px, $font-family: helvetica);
                text-align: center;
                padding: 0px;
                margin: 20px;
            }

            a {
                @include font ($color-principal, $font-size: 15px, $font-family: helvetica);
                text-decoration: none;
                width: 100%;
                padding: 10px;
                cursor: pointer;
                list-style: none;
                margin-top: 10px;
                border: 1px solid $color-principal;
                border-radius: 10px;
                transition: all 400ms ease;
            }
        }
    }
}

/***** CONTACTO MAIN *****/

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background: $color-blanco;
    border-radius: 10px;
    box-shadow: 0 0 40px -10px #000;
    padding: 20px 30px;
    box-sizing: border-box;
    grid-area: productos;


    h2 {
        margin: 10px;
        padding-bottom: 10px;
        width: 180px;
        color: #f66b0e;
        border-bottom: 3px solid #f66b0e;
    }

    input {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        transition: all .3s;
        border-bottom: 2px solid grey;

        &:focus {
            border-bottom: 2px solid #f66b0e;
        }
    }

    button {
        justify-content: center;
        text-align: center;
        margin: 15px 0 0;
        background: 0;
        transition: all .3s;
        color: #f66b0e;
        padding: 10px;

        &:hover {
            background: #112b3c;
            cursor: pointer;
        }
    }
}