/***** GENERALES *****/

* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    letter-spacing: 0.03cm;
    line-height: 1.6;
}

@mixin font ($color, $font-size, $font-weight: bold, $font-style: normal, $font-family: 'helvetica') {
    color: $color;
    font: $font-style $font-weight $font-size $font-family;
}

@each $color in green,
red {
    .#{$color} {
        background-color: #{$color};
        color: antiquewhite;
    }
}



/*****GRIDS POR AREAS*****/
.gridcontainer {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 0.1fr auto auto 0.1fr;
    grid-template-areas:
        "header header"
        "hero hero"
        "productos productos"
        "footer footer"
}

/*****NOMBRE DE AREAS*****/
.header {
    grid-area: header;
}

#hero {
    grid-area: hero;
}

.productos {
    grid-area: productos;
}

.footer {
    grid-area: footer;
}